rich
qrcode
slowapi
uvicorn
aiohttp
fastapi
pydantic
aiofiles
aioredis
validators
colorthief
timelength
pre-commit
python-jose
pytesseract
tortoise-orm
fastapi-utils
python-dotenv
pydantic[email]
python-multipart
tortoise-orm[asyncpg]